.accessContend {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #5DDFE6, #014BAE);
}

.container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    padding: 20px;
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0052a3;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.botonCeleste{
    background-color: #38cfd7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
}
.botonCeleste > a{
    color: white;
    text-decoration: none;
}

.botonCeleste:hover{
    background-color: #26b7c7;
}