body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #049eae;
    overflow: hidden;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Para que los elementos se alineen horizontalmente */
}

.nav-links li {
    flex: 1; /* Cada elemento ocupa el mismo espacio */
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 16px 16px 16px;
    text-decoration: none;
    color: white;
}
a i{
    font-size: 30px;
}

.nav-links a:hover {
    background-color: #028391; /* Color de fondo al pasar el mouse */
}

.container {
    padding: 20px;
    text-align: center;
}