{% extends 'HydroRegis/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/pagina.css' %}">
<div class="encabezado">
    <p class="back">
        <a href="{% url 'home' %}">
            <i class="bx bx-left-arrow-alt"></i>
        </a>
    </p>
    <p>Actividades</p>
</div> 
<div class="margen"> 
    <!-- este div funciona como dice su nombre margen aca va el contenido de la pagina pero tendra un espaciado en el lado izquierdo y derecho -->
     <div class="contenedorPrimary">
        <p>
            ¿Cuanto de agua desea liberar?
        </p>
        <button class="button_celeste">100L</button>
        <button class="button_celeste">100L</button>
        <button class="button_celeste">100L</button>
        <button class="button_celeste">100L</button>
        <button class="button_celeste">100L</button>
        <button class="button_celeste">100L</button>
        <button class="button_celeste">100L</button>
    
     </div>
</div>
{% endblock %}